.topbar-nav {
  padding: 1em 0;
  background-color: rgb(243, 243, 243);
}

.topbar-nav a {
  text-decoration: none;
}

.topbar-nav a:visited, a:link {
  color: inherit;
}

.topbar-ul {
  display: flex;
  gap: 4em;
  list-style: none;
  justify-content: center;
}

.topbar-ul > li:hover {
  cursor: pointer;
  text-decoration: underline;
}