.shopCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 250px;
}

.shopCard img {
  max-width: 150px;
  max-height: 150px;
  height: auto;
}

.shopCardButton {
  margin-top: 10px;
  width: 100%;
}

.shopCardButton button {
  padding: 10px 0;
  border-radius: 10px;
  background-color: #0071e3;
  color: white;
  border: none;
  transition: 0.3s;
  font-size: 16px;
}

.shopCardButton>button:hover {
  background-color: #0d84fc;
}

.shopCard button {
  width: 100%;
  max-width: none;
  box-sizing: border-box;
}

.shopCard li {
  list-style: none;
  font-size: 14px;
}

.shopCardDetailWrapper {
  display: grid;
  gap: 8px;
  grid-template-columns: 2fr 1fr;
}

.shopCardDetailWrapper input {
  max-width: 30px;
}