footer {
  display: flex;
  justify-content: space-evenly;
  padding: 20px 500px 50px 500px;
  gap: 20px;
  background-color: rgb(243, 243, 243);
}

footer > ul {
  display: flex;
  flex-direction: column;
  gap: 3px;
  list-style: none;
  padding: 0;
  margin: 0;
}

footer > ul > li:nth-child(1) {
  font-weight: bold;
}

footer > ul > li:hover:nth-child(2), li:hover:nth-child(3) {
  cursor: pointer;
  text-decoration: underline;
}